// colors

$color-primary: #cf3863;
$color-primary-light: #ec5a7f;
$color-primary-dark: #BA265D;
$color-primary-dark-1: rgb(59, 59, 59);
$color-primary-light-1: #f4f2f2;
$color-primary-light-2: rgb(134, 132, 132);
$color-primary-light-3: #ccc;
$text-color: rgb(73, 72, 72);

//shadow

$shadow:0 1.5rem 4rem rgba(0, 0, 0, 0.562);

